.about-me {
    margin-top: 120px;
    &__grid-container {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(2, minmax(400px, auto));
        grid-template-rows: minmax(240px, auto);
        column-gap: 70px;
        row-gap: 40px;
        grid-template-areas:
            "img text"
            "img skill_area";
    }
    #img {
        grid-area: img;
    }
    #text {
        grid-area: text;
    }
    #skill_area {
        grid-area: skill_area;
    }
    .text {
        &__title {
            margin-top: 6px;
        }
        &__divider {
            width: 60px;
            height: 3px;
            background-color: $main-color;
            margin-top: 4px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
    &__skill-areas {
        display: grid;
        grid-template-columns: repeat(2, minmax(260px, auto));
        grid-template-rows: repeat(2, minmax(116px, auto));
    }
    &__skill-area {
        position: relative;
        padding-left: 60px;
    }
    &__icon {
        position: absolute;
        top: 15px;
        left: 15px;
    }



    // .skill-area {
    //     &__web {
    //         position: relative;
    //         padding-left: 60px;
    //     }
    //     &__img {
    //         position: absolute;
    //         top: 15px;
    //         left: 15px;
    //     }
    // }
}
