@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
  .aboutMe {
    padding-top: 60px;
  }
  .resume {
    padding-top: 60px;
  }
  .skills {
    padding-top: 60px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px; // данные величины взяты из головы соотв. правилам хорошего тона в верстке
  }
  .divider {
    margin: 15px auto 40px;
  }
  .aboutMe {
    padding-top: 40px;
    &__grid-container {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
      padding: 0;
    }
    &__skills {
      column-gap: 20px;
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      padding: 0 5px;
      column-gap: 110px;
    }
  }
  .skills {
    padding-top: 40px;
    &__technologies {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-around;
      grid-auto-rows: 270px;
    }
    &__level {
      grid-template-columns: repeat(auto-fit, 350px);
      grid-auto-rows: minmax(70px, auto);
      justify-content: space-between;
      padding: 0 5px;
    }
  }
  .portfolio {
    padding-top: 60px;
    &__wrp {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      justify-content: space-around;
      row-gap: 35px;
      .horizontal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  .contacts {
    padding: 60px 0 45px;
    &__wrp {
      padding: 0;
      grid-template-columns: 400px 540px;
      column-gap: 20px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(auto-fit, 260px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px; // данные величины взяты из головы в соотв. правилам хорошего тона в верстке
  }
  .title {
    &_fz36 {
      font-size: 30px;
    }
  }
  .aboutMe {
    &__grid-container {
      grid-template-columns: 300px 380px;
    }
    &__skills {
      grid-template-columns: 360px;
      grid-auto-rows: minmax(115px, auto);
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2, 325px);
      column-gap: 70px;
    }
  }
  .skills {
    &__level {
      grid-template-columns: repeat(auto-fit, 320px);
      justify-content: space-between;
      // padding: 0;
      // column-gap: 0;
    }
  }
  .price {
    &__wrp {
      grid-template-columns: repeat(auto-fit, 350px);
      padding: 0;
    }
  }
  .contacts {
    &__photo {
      display: none;
    }
    &__wrp {
      grid-template-columns: repeat(auto-fit, 570px);
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px; // данные величины взяты из головы соотв. правилам хорошего тона в верстке
  }
  .title {
    &_fz48 {
      font-size: 28px;
    }
  }
  .promo {
    &__title {
      line-height: 39px;
      width: 300px;
    }
  }
  .aboutMe {
    &__grid-container {
      grid-template: 400px auto auto / 1fr;
    }
    &__photo {
      grid-row: unset;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }
  .skills {
    &__technologies {
      padding: 0;
      justify-content: center;
      gap: 20px;
    }
    &__level {
      margin-top: 40px;
      grid-template-columns: repeat(auto-fit, 320px);
      grid-auto-rows: minmax(70px, auto);
      justify-content: center;
    }
  }
  .portfolio {
    padding-top: 40px;
  }
  .price {
    padding-top: 40px;
    &__wrp {
      justify-content: center;
    }
  }
  .divider {
    margin-bottom: 20px;
  }
  .contacts {
    &__form {
      // grid-template: 45px 45px 190px 45px 45px / 300px;
      // grid-template-columns: repeat(auto-fit, 300px);
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%; // данные величины взяты из головы соотв. правилам хорошего тона в верстке
    padding: 0 10px; // данные величины взяты из головы соотв. правилам хорошего тона в верстке
  }
  .divider {
    margin: 15px auto 20px;
  }
  .title {
    &_fz48 {
      font-size: 26px;
    }
    &_fz36 {
      font-size: 24px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    background: url("../img/main_bg.png") no-repeat 57% / cover;
    &__btns {
      margin-top: 30px;
    }
  }
  .aboutMe {
    &__grid-container {
      grid-template: 400px auto auto / 1fr;
    }
    &__skills {
      grid-template-columns: 1fr;
    }
  }
  .skills {
    .title {
      &_fz36 {
        line-height: 36px;
      }
    }
    &__level {
      grid-template-columns: repeat(auto-fit, 300px);
    }
  }
  .price {
    &__wrp {
      grid-template-columns: repeat(auto-fit, 300px);
    }
  }
}
