.promo {
  min-height: 100vh;
  // position: relative;
  background: url("../img/main_bg.png") no-repeat 50% / cover;
  padding-top: 206px;
  &__title {
    width: 535px;
    margin-top: 9px;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    a {
      transition: all 0.5s;
    }
  }
  &__link {
    color: #000;
    font-weight: bold;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}
